# execute and library file
build/
__pycache__

# configuration file
#*.cfg

# training folder
go_19x19_*/

# others
.sgf
.txt
.vscode
.codex

candidate_sgf_chess/
query_sgf_chess/
training_sgf/
training_sgf_chess/
rank_50000_1000_2600_200interval/
chess.tar.gz
download_chess_game/
tests

prediction_output/
training_sgf_*/
chess_bt_b32_*
